$gradient-1: #191e27;
$gradient-2: #2f3d43;

$blue-50: rgba(65, 127, 251, 0.5);
$blue-75: rgba(65, 127, 251, 0.75);
$blue-85: rgba(65, 127, 251, 0.85);

$input-background: rgb(230, 230, 230);
$input-text: rgb(90, 90, 90);
$text: rgb(160, 160, 160);

$menu-option: rgba(255, 255, 255, 0.75);
