$gradient-1: #191E27;
$gradient-2: #2F3D43;

$blue-50: rgba(65, 127, 251, .5);
$blue-75: rgba(65, 127, 251, .75);

$input-background: rgb(230, 230, 230);
$input-text: rgb(90, 90, 90);

$menu-option: rgba(255, 255, 255, 0.75);
