<div class="wrapper">
    <szbd-student-menu></szbd-student-menu>
    <main>
        <div>
            <i class="material-icons md-80">school</i>
        </div>
        <div>
            <h2>Dane osobowe</h2>
            <div>
                <p>Imię:</p>
                <p>Drugię imię:</p>
                <p>Nazwisko:</p>
                <p>PESEL:</p>
                <p>Data urodzenia:</p>
                <p>Miejsce urodzenia:</p>
                <p>Imię ojca:</p>
                <p>Imię matki:</p>
                <p>Płeć:</p>
            </div>
        </div>
        <div>
            <h2>Dane kontaktowe</h2>
            <div>
                <p>e-mail:</p>
                <p>telefon:</p>
                <p>Adres:</p>
                <p>Adres kontaktowy:</p>
                <p>Adres tymczasowy:</p>
            </div>
        </div>
        <div>
            <h2>Informacje o studiach</h2>
            <div>
                <p>Indeks:</p>
                <p>Semestr:</p>
                <p>Wydział:</p>
                <p>Kierunek:</p>
                <p>Rodzaj studiów:</p>
                <p>Forma studiów:</p>
                <p>Status:</p>
                <p>Zdobyte punkty ECTS:</p>
                <p>Data rozpoczęcia studiów:</p>
                <p>Data zakończenia studiów:</p>
            </div>
        </div>
    </main>
</div>
