<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
    <div class="logo-container">
        <img src="../assets/logo.png" alt="univeristy-logo">
    </div>
    <div class="form-container">
        <div>
            <header>
                <i class="material-icons md-120">school</i>
                <h1>Formularz logowania</h1>
            </header>
            <form action="">
                <div class="input">
                    <i class="material-icons">person</i>
                    <input type="text" placeholder="login">
                </div>
                <div class="input">
                    <i class="material-icons">fingerprint</i>
                    <input type="password" placeholder="hasło">
                </div>
                <div class="submit">
                    <input type="submit" value="Zaloguj">
                    <h2><a href="#">Zapomniałes hasła?</a></h2>
                </div>
            </form>
        </div>
    </div>
</div>
