<div class="wrapper">
    <div class="logo-container">
        <img src="../assets/logo.png" alt="univeristy-logo">
    </div>
    <div class="form-container">
        <div>
            <header>
                <i class="material-icons md-120">school</i>
                <h1>Formularz logowania</h1>
            </header>
            <form [formGroup]="loginForm" (submit)="login()">
                <div class="input" [ngClass]="{'red': loginForm.get('username').invalid && loginForm.get('username').dirty}">
                    <i class="material-icons">person</i>
                    <input type="text" placeholder="login" formControlName="username">
                </div>
                <div class="input" [ngClass]="{'red': loginForm.get('password').invalid && loginForm.get('password').dirty}">
                    <i class="material-icons">fingerprint</i>
                    <input type="password" placeholder="hasło" formControlName="password">
                </div>
                <div class="submit">
                    <button type="submit" [disabled]="loading">Zaloguj</button>
                    <h2><a href="#">Zapomniałes hasła?</a></h2>
                </div>
            </form>
        </div>
    </div>
</div>
