@import 'variables';
$input-background: rgb(230, 230, 230);
$input-text: rgb(90, 90, 90);

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .logo-container {
        background-image: linear-gradient(
            to left bottom,
            $gradient-1,
            $gradient-2
        );
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        & > div {
            transform: translateY(-50px);
        }
        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: Montserrat, Arial, Helvetica, sans-serif;
            color: $blue-75;
            i {
                margin-bottom: 15px;
                color: $blue-50;
            }
            h1 {
                font-size: 40px;
                font-weight: 700;
            }
        }
        form {
            margin-top: 70px;
            .input {
                display: grid;
                grid-template-columns: 24px 1fr;
                margin: 0 auto;
                padding: 0 15px;
                align-items: center;
                width: 400px;
                height: 50px;
                background-color: $input-background;
                border-radius: 50px;
                color: $input-text;
                i {
                    color: $blue-75;
                }
                input[type='text'],
                input[type='password'] {
                    margin-left: 10px;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    color: $input-text;
                    font-family: Raleway, Montserrat, Arial, Helvetica,
                        sans-serif;
                    font-size: 20px;
                    line-height: 30px;
                }
            }
            .input:first-of-type {
                margin-bottom: 15px;
            }
            .submit {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                input[type='submit'] {
                    width: 400px;
                    height: 50px;
                    margin: 40px 0 15px;
                    border-radius: 50px;
                    outline: none;
                    border: none;
                    background-color: $blue-75;
                    color: rgb(255, 255, 255);
                    font-family: Montserrat, Arial, Helvetica, sans-serif;
                    font-size: 25px;
                    font-weight: 600;
                }
                h2 {
                    font-family: Raleway, Montserrat, Arial, Helvetica,
                        sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                    a {
                        color: $blue-75;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.material-icons.md-120 {
    font-size: 120px;
}
@media (max-width: 1024px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 75px;
        .logo-container {
            background-image: linear-gradient(
                to left bottom,
                $gradient-1,
                $gradient-2
            );
            display: flex;
            justify-content: left;
            align-items: center;
            img {
                margin-left: 15px;
                width: 60px;
            }
        }
    }
}
@media (max-width: 650px) {
    .wrapper {
        .form-container {
            width: 100%;
            & > div {
                min-width: 80%;
                transform: translateY(-5%);
            }
            form {
                .input {
                    width: 100%;
                    input[type='text'],
                    input[type='password'] {
                        font-size: 15px;
                    }
                }
                .submit {
                    input[type='submit'] {
                        width: 100%;
                        font-size: 20px;
                    }
                    h2 {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
@media (max-width: 650px) {
    .wrapper {
        .form-container {
            header {
                i {
                    margin-bottom: 10px;
                }
                h1 {
                    font-size: 25px;
                }
            }
            form {
                margin-top: 40px;
            }
        }
    }
    .material-icons.md-120 {
        font-size: 100px;
    }
}
