<szbd-heading heading="Oceny"></szbd-heading>
<section class="table">
    <szbd-table [columns]="columns" [data]="data" (select)="getGrades($event)" withFooter="true"></szbd-table>
</section>
<div *ngIf="selectedSemester">
    <szbd-heading heading="Semestr" [value]="selectedSemester"></szbd-heading>
    <section class="grades">
        <ng-container *ngFor=" let grade of grades">
            <szbd-grade-information [data]="grade"></szbd-grade-information>
        </ng-container>
    </section>
</div>
