.table {
    margin: 15px 0 25px;
}

.grades {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;

    szbd-grade-information {
        flex-basis: 32%;
        flex-shrink: 1;
        margin: 0 10px 15px;
    }
}
